@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center text-primary">Welcome to our website</h1>
        <p class="lead text-center">Our Website Offer to you Add any Type of Project contain any Number and Type of Tasks</p>
    </section>
    <br />
    <br />
    <div class="row">
        <section class="col-md-6" aria-labelledby="gettingStartedTitle">
            <h2>BDO Task</h2>
            <p>The Task From BDO To Me</p>
            <img src="~/Images/BDO.jpg" class="img-thumbnail" alt="Cinque Terre" width="500" height="800" loading="lazy" >
        </section>
        <section class="col-md-6" aria-labelledby="hostingTitle">
            <h2>Our Website</h2>
            <p>Momen Can Create Any Websitre Project From Easier To hard there Many projects Made by Momen As E-Commerce and Booking websites<p>
            <p><a class="btn btn-outline-info" href="/Projects/Index">Add Project &raquo;</a></p>
        </section>
    </div>
</main>