@model Person;
<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1 class="textCenter">Name:@Model.Name</h1>
    <h3 class="textCenter">DateOFBirth:@Model.DateOfBirth</h3>
    <a href="/Home">Home</a>
</body>
</html>
