@model PersonAndProduct;
<!Doctype html>
<html>
<head>
    <title>Person with Product</title>
</head>
<body>
    <div>
        <h3>Person</h3>
        <h4>Name:@Model.person.Name</h4>
        <h4>Date Of Birth:@Model.person.DateOfBirth</h4>
    </div>
    <div>
        <h3>Products</h3>
        <h4>Product Name:@Model.product.ProductName</h4>
    </div>
</body>
</html>