@using DAL.Model;
@model IEnumerable<Autho>
<!Doctype HTML>
<html>
    <head>

    </head>
    <body>
        <table>
            <tr>
                <th>
                    Name
                </th>
            </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Name;
                </td>
            </tr>
        }
        </table>
    </body>
</html>
