<!Doctype html>
<html>
    <head>
        <title>Configurtion Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <h2>@ViewBag.ClientSecret</h2>
    <h2>@ViewBag.ClientId</h2>
    </body>
</html>