<!Doctype html>
<html>
    <head>
        <title>View Compnent</title>
    </head>
    <body>
        <nav>
            <a href="/Home">Home</a>
            <a href="/About">About</a>
            <a href="/Contact">Contact</a>
        </nav>
        <h1>Welcome To Our Website</h1>
        @RenderBody()
    </body>
</html>