@model Item
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New Item</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name">Item Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price">Item Price</label>
            <input asp-for="Price" class="form-control"  />
            <span asp-validation-for="Price" class="text-danger"></span>

        </div>
        <div>
            <label>Category</label>
            <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.SelectList">
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-success" style="width:150px">Save</button>
        <a asp-controller="Items" asp-action="Index" class="btn btn-primary" >Back To List</a>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
